@import '../default.scss';
.mem_navbarlist1 {
  display: flex;
  flex: row;
  .mem_navbarlist2 {
    display: flex;
    flex: row;

    .mem_navbarlist3 {
      display: flex;
      flex: row;
      width: 80px;

      .mem_navbarlist4 {
        width: 80px;
        display: flex;
        flex: row;
      }
    }
  }
}

.mem_navbarlist1 :hover {
  background-color: $secondary-050;
  border-right: solid 2px $secondary-300;
  border-left: solid 2px $secondary-300;
  color: $secondary-300;
  opacity: 0.8;
}
