// 導入bootstrap所有的樣式與預設變數
// @import '~bootstrap/scss/bootstrap.scss';
@import '../default.scss';
// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

.ccard {
  width: 100%;
  height: 204px;
  padding: 14px;

  .ccard.card-body {
    padding: 0 0 0 12px;
  }
  .ccc {
    height: 50px;
    margin-top: 5px;
    margin-left: 215px;
    z-index: 2;
    position: absolute;
  }

  .card-title {
    margin: 0 0 24px 0;
    font-size: $font-size-base;
    font-family: 'TaipeiSansTCBeta-Bold';
    font-size: 20px;
    // padding: 8px 0;
    width: 450px;
  }

  .photo {
    width: 271px;
    height: 183px;
    object-fit: fill;
    position: relative;

    /* margin-left: 7px; */
    margin-top: 18px;
    border-radius: 10px;
    z-index: 1;
  }

  .icon {
    height: 12px;
    width: 12px;
    margin: 1px 10px 10px 1px;
  }
  .icon2 {
    height: 12px;
    width: 12px;
    margin: 2px 10px 10px 1px;
  }
  .icon3 {
    height: 12px;
    width: 12px;
    margin: 3px 10px 10px 1px;
  }

  .aaa {
    margin-left: 8px;
  }

  .join {
    width: 90px;
    height: 24px;
    border-radius: 50px;
    font-size: 12px;
    background: #4f7f9a;
    color: white;
    box-shadow: 0 6px 6px rgba(25, 25, 25, 0.2);
    justify-content: center;
    align-items: center;
  }

  .btn_group {
    margin: 8px;
    .btn-style {
      margin: 8px;
    }
    .btn_edit {
      background-color: $secondary;
      border: $secondary;
    }
  }
}
