.pd_score {
  margin: 0 auto;
}
.mymem_toscoreM {
  padding: 20px;
  .mymem_toscore {
    .mem_score {
      // margin:px;
      .mem_toscore {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        margin: 0 24px 0 24px;
      }
    }

    .score_p {
      // margin: 0 8px 0 0px;
      padding: 0 32px 0 0px;
    }

    .ScoText {
      width: 600px;
      height: 80px;
    }
  }
  .join {
    width: 70px;
    height: 24px;
    border-radius: 50px;
    font-size: 12px;
    background: #4f7f9a;
    color: white;
    box-shadow: 0 6px 6px rgba(25, 25, 25, 0.2);
    border: 0;
  }
  .mymem_toscore {
    margin: 0 0 0 8px;
    .mem_toscore_G {
      padding: 8px 0 0 0;
      figure {
        padding: 8px 0;
        margin: 0;
        object-fit: cover;
        figcaption {
          // padding: 8px 0;
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }
}

.btn_toscore {
  height: 34px;
  width: 114px;
}
