// 導入bootstrap所有的樣式與預設變數
@import '../default.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

* {
<<<<<<< HEAD
  // font-size: 16px;
=======
  font-size: 16px;
>>>>>>> 903f70c83b1325388a24207e9da433c16f0aa1e4
  font-family: 'Taipei Sans TC Beta';
  padding: 0;
  margin: 0;
  // border: 1px solid;
}
.event-card-vertical {
<<<<<<< HEAD
  .card-wrapper {
    // background: coral;
    width: 271px;
  }
  .card {
    border: 1px solid transparent !important;
    margin: 32px 9.5px;
    cursor: pointer;
    &:hover {
      .event-photo {
        img {
          transform: scale(1.2);
        }
      }
    }
  }

  .ccard {
    // background: crimson;
=======
  .card {
    border: 1px solid transparent !important;
  }

  .ccard {
>>>>>>> 903f70c83b1325388a24207e9da433c16f0aa1e4
    width: 271px;
    height: 350px;
    border: 1px solid transparent;

<<<<<<< HEAD
    .card-title {
      font-size: $font-size-base;
      font-family: 'TaipeiSansTCBeta-Bold' !important;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .event-photo {
      width: 271px;
      height: 183px !important;
      margin-top: -38px;
      border-radius: 10px;
      z-index: 1;
      background: $primary-050;
      overflow: hidden;
      position: relative;
      // margin-bottom: 0px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.7s;
      }
    }

=======
    .cardtitle {
      font-size: $font-size-base;
      font-family: 'TaipeiSansTCBeta-Bold';
    }

    .photo {
      // width: 271px;
      height: 183px;
      object-fit: fill;
      z-index: 1;
      position: relative;

      /* margin-left: 7px; */
      margin-top: -38px;
      border-radius: 10px;
    }
>>>>>>> 903f70c83b1325388a24207e9da433c16f0aa1e4
    .pushed {
      display: inline;
      z-index: 3;
      display: none;
    }
    .bookmark {
      height: 50px;
      margin-top: 10px;
      margin-left: 203px;
      z-index: 2;
      cursor: pointer;
    }
    .more-att {
      width: 31px;
      height: 31px;
      border-radius: 50%;
      margin-top: -20px;
      position: absolute;
<<<<<<< HEAD
      top: 170px;
=======
      top: 180px;
>>>>>>> 903f70c83b1325388a24207e9da433c16f0aa1e4
      right: 187px;
      z-index: 3;
      background: rgba(0, 0, 0, 0.8);
      color: white;
      font-size: 12px;
      padding: 7px 3px 8px 10px;
    }
    .second-att {
      width: 31px;
      height: 31px;
      border-radius: 50%;
      margin-top: -20px;
      position: absolute;
<<<<<<< HEAD
      top: 170px;
=======
      top: 180px;
>>>>>>> 903f70c83b1325388a24207e9da433c16f0aa1e4
      right: 207px;
      z-index: 4;
    }
    .first-att {
      width: 31px;
      height: 31px;
      border-radius: 50%;
      margin-top: -20px;
      position: absolute;
<<<<<<< HEAD
      top: 170px;
=======
      top: 180px;
>>>>>>> 903f70c83b1325388a24207e9da433c16f0aa1e4
      right: 227px;
      z-index: 5;
    }

    .b2 {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-top: -50px;
    }

    .card-body {
<<<<<<< HEAD
      padding: 0px 0px 0px 12px;
    }

=======
      padding: 18px 0 0 12px;
    }

    .cardtitle {
      margin-bottom: 8px;
    }
>>>>>>> 903f70c83b1325388a24207e9da433c16f0aa1e4
    .inform {
      margin-top: 1px;
    }

    .card-text {
      font-size: 12px;
      margin-bottom: 5px;
      align-self: center;
<<<<<<< HEAD
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
=======
>>>>>>> 903f70c83b1325388a24207e9da433c16f0aa1e4

      /* border:1px solid gray; */
    }

    .tag {
      padding: 6px 12px;
      font-size: 12px;
      border: 1px solid #4b4b4b;
      justify-content: center;
      align-items: center;
      margin-left: -13px;
    }

    .aaa {
      margin-left: 8px;
    }

    .join {
      padding: 6px 21px;
      border-radius: 50px;
      font-size: 12px;
      background: #4f7f9a;
      color: white;
      box-shadow: 0 6px 6px rgba(25, 25, 25, 0.2);
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      &:hover {
        color: white;
        transform: translateY(2px);
        box-shadow: 0 3px 3px rgba(25, 25, 25, 0.3);
      }
    }

    .icon {
      height: 12px;
      width: 12px;
      margin: 1px 10px 10px 1px;
    }
    .icon2 {
      height: 12px;
      width: 12px;
      margin: 2px 10px 10px 1px;
    }
    .icon3 {
      height: 12px;
      width: 12px;
      margin: 3px 10px 10px 1px;
    }

    .buttons {
      margin-top: 8px;
    }
  }
}
