// 導入bootstrap所有的樣式與預設變數
@import '../default.scss';
// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

* {
  font-size: 12px;
  font-family: 'Taipei Sans TC Beta';
  padding: 0;
  margin: 0;
}

.event-card-horizon {
  position: relative;
  padding: 0px;
  margin: 9px auto;
  // background: #add0e4;
  width: 1160px;
  cursor: pointer;
  &:hover {
    .event-photo {
      img {
        transform: scale(1.2);
      }
    }
  }

  .bookmark {
    height: 50px;
    margin-top: 10px;
    margin-left: 220px;
    z-index: 2;
    position: absolute;
    cursor: pointer;
  }
  .event-photo {
    width: 271px;
    height: 183px;
    margin: 18px 17px 0px 0px;
    border-radius: 10px;
    z-index: 1;
    background: $primary-050;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.7s;
    }
  }

  .more-att {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-top: -20px;
    position: absolute;
    top: 180px;
    left: 53px;
    z-index: 3;
    background: $primary-700;
    color: white;
    padding: 4px 0px 4px 7px;
  }
  .second-att {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-top: -20px;
    position: absolute;
    top: 180px;
    left: 30px;
    z-index: 4;
  }
  .first-att {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-top: -20px;
    position: absolute;
    top: 180px;
    left: 10px;
    z-index: 5;
  }

  .card-title {
    margin: 0px;
    margin-top: 3px;
    font-size: $font-size-base;
    font-family: 'TaipeiSansTCBeta-Bold';
    font-size: 20px;
  }

  .t2 {
    width: 100%;
    font-size: 14px;
    margin: 12px 0px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .bbb {
    margin-bottom: 8px;
  }

  .icon {
    height: 12px;
    width: 12px;
    margin: 1px 10px 10px 1px;
  }
  .icon2 {
    height: 12px;
    width: 12px;
    margin: 2px 10px 10px 1px;
  }
  .icon3 {
    height: 12px;
    width: 12px;
    margin: 3px 10px 10px 1px;
  }

  .tag {
    padding: 6px 12px;
    font-size: 12px;
    border: 1px solid #4b4b4b;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }

  .join {
    padding: 6px 21px;
    border-radius: 50px;
    font-size: 12px;
    background: #4f7f9a;
    color: white;
    box-shadow: 0 6px 6px rgba(25, 25, 25, 0.2);
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    &:hover {
      color: white;
      transform: translateY(2px);
      box-shadow: 0 3px 3px rgba(25, 25, 25, 0.3);
    }
  }
  .buttons {
    margin-top: 8px;
  }
}
