// 導入bootstrap所有的樣式與預設變數
@import '../default.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

* {
  font-size: 16px;
  font-family: 'Taipei Sans TC Beta';
}

.event-searchbar-wrapper {
  .search-form {
    position: relative;
    width: 100%;
    // background: #12d097;
    margin: 0px;
    .searchicon {
      position: absolute;
      margin-top: 6px;
      z-index: 5;
      left: 12px;
    }
    .search-input {
      padding: 5px 0px;
      box-shadow: 0 3px 6px rgba(25, 25, 25, 0.2);
      text-indent: 42px;
      width: calc(100% - 16px);
    }
  }

  .sub {
    padding: 5px 40px;
    background: #12d0c9;
    color: white;
    box-shadow: 0 6px 6px rgba(25, 25, 25, 0.2);

    &:hover {
      color: white;
      background: #4f7f9a;
    }
  }

  .control {
    margin-right: 15px;
    margin-top: 18px;
    padding: 5px 20px;
    background: #ffffff;
    box-shadow: 0 6px 6px rgba(25, 25, 25, 0.2);
    color: #666666;

    img {
      margin-right: 10px;
    }
  }
}
