@import '../default.scss';
.tXlBS {
  background: none;
}
.carousel2_block {
  cursor: pointer;
  background: transparent;
}
.carousel2_block:hover,
.carousel2_block:active,
.carousel2_block:focus {
  background: transparent;
  border: none;
  outline: none;
}
button.lgksPe {
  &:hover {
    background-color: $primary-300 !important;
    border: none;
    outline: none;
  }
  &:active {
    background-color: $primary-300 !important;
    border: none;
    outline: none;
  }
  &:focus {
    background-color: $primary-300 !important;
    border: none;
    outline: none;
  }
}

button.rec-arrow {
  border: none;
  outline: none;
  background-color: $primary-100;
  box-shadow: none;
}
button.rec-arrow-left {
  border: none;
  outline: none;
  background-color: $primary-100;
  box-shadow: none;
  &:hover {
    background-color: $primary-300;
    border: none;
    outline: none;
  }
  &:active {
    background-color: $primary-300;
    border: none;
    outline: none;
  }
  &:focus {
    background-color: $primary-300;
    border: none;
    outline: none;
  }
}

button.rec-arrow:hover,
button.rec-arrow:active,
button.rec-arrow:focus {
  background-color: $primary-300;
  border: none;
  outline: none;
  box-shadow: none;
}

button.rec-dot {
  &:hover {
    background-color: $primary;
    box-shadow: 0 0 1px 3px $primary-300;
  }
  &:active {
    background-color: $primary;
    box-shadow: 0 0 1px 3px $primary-300;

    border: none;
    outline: none;
  }
  &:focus {
    background-color: $primary;
    box-shadow: 0 0 1px 3px $primary-300;

    border: none;
    outline: none;
  }
}

button.cJeRRR {
  background-color: $primary;
  box-shadow: 0 0 1px 3px $primary-300;
}
