@import '../default.scss';

//EventResult
.event-container {
  max-width: 1160px;
  margin: 0 auto;
  .result-word {
    // background: rgb(128, 128, 128);
    h6 {
      margin: 0px;
      padding: 0px;
      line-height: 38px;
    }
  }
<<<<<<< HEAD
  .result-card {
    width: 100%;
  }
=======
>>>>>>> 903f70c83b1325388a24207e9da433c16f0aa1e4
  .result-header {
    margin-top: 72px;
    .result-icon {
      position: relative;
      .c-icon {
        margin-left: 16px;
        cursor: pointer;
      }
      .list-selected {
        position: absolute;
        right: 0px;
        display: none;
      }
      .card-selected {
        position: absolute;
        right: 44px;
        display: none;
      }
    }
  }
  .divider {
    width: 100%;
    height: 2px;
    margin: 14px 0px;
    background: rgba(112, 112, 112, 0.3);
  }
  .no-result {
    height: 40vh;
    // background: cadetblue;
    h5 {
      padding: 48px;
      text-align: center;
      color: $primary;
    }
  }
  .have-result {
    // background: royalblue;
    width: 100%;
    margin: 0px !important;
    padding: 0px;
    .col-3 {
      margin-bottom: 36px;
    }
    .result-list {
      display: none;
    }
  }
<<<<<<< HEAD
  .pagination {
    margin-top: 48px;
    display: flex;
    justify-content: center;
  }
=======
>>>>>>> 903f70c83b1325388a24207e9da433c16f0aa1e4
}
