// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
@import '../default.scss';

$url: "http://localhost:3000";


 
  .eventstart{

    .wrapper {
      max-width: 1440px;
      margin: 0 auto;
    }

    .cover-fit {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .main3{
      
      .evstart2cont{
        margin: 0 238px 5px 238px;
        // border: 1px solid;


      }

      .step1content{
        margin-bottom: 45px;
      }


      .cardboxmargin3{
        // border: 1px solid;
        // width: 472px;
        position: relative;

        .puzzle4box{
          
          position: absolute;
          bottom: -10px;
          left: -80px;
          z-index: -1;
          img{
            width: 150px;
            height: 150px;
          }
        }

        .puzzle4box1{
          position: absolute;
          z-index: -1;
          top:0;
          left: -250px;
          img{
            width: 150px;
            height: 150px;
          }
        }
        .puzzle4box2{
          position: absolute;
          z-index: -1;
          top: 800px;
          right: -250px;
          img{
            width: 150px;
            height: 150px;
          }
        }

        .circlelabox3{
          position: absolute;
          top:-400px;
          right:-200px;
          img{
            width: 150px;
            height: 150px;
          }
        }


        .card3{
          background: rgba($primary-100,1.0);
          box-shadow: 0 3px 6px rgba(#000,0.2);
          width: 50vw;

          .card3sm{
            background: white;
            margin-bottom: 32px;
            width: 100%;
            border-radius: 10px;

            .textareadet{
              width: 100%;
              height: 40vh;
              resize: none;
              border-style: inset;
              border-width: 0px;
            }

            .textareatag{
              width: 100%;
              height: 5vh;
              resize: none;
              border-style: inset;
              border-width: 0px;
            }
          }


          .step3titlebox{
            // border: 1px solid;
            justify-content: center;
            
            .startitle3{
              color: red;
            }
            .starafter3{
              font-size: $font-size-base;
              font-family: 'TaipeiSansTCBeta-Regular';
              color: $gray-darkest;
              margin-bottom: 5px;
            }
          }

          .inputbox3{
            margin-bottom: 32px;
          }


          .titlepagebox{

            .titlepagetitle{
              justify-content: center;
              font-size: $font-size-base;
              font-family: 'TaipeiSansTCBeta-Regular';
              color: $gray-darkest;
            }

            .titlepagebtnbox{
              justify-content: center;
              
              .titlepagebtn{
                font-size: 12px;
                font-family: 'TaipeiSansTCBeta-Regular';
                color: $gray-darkest;
                background: white;
                height: 24px;
                align-items: center;
              }
            }

            .titlepagebrow{
              font-size: 12px;
              font-family: 'TaipeiSansTCBeta-Regular';
              margin-bottom: 34px;
            }

            .titlepageimgbox{
              
              width: 672px;
              height: 300px;
              border-radius: 10px;
              margin-top: 12px;
              margin-bottom: 5px;
              position: relative;
              // border:1px solid;

              .titlepageimg{
                border-radius: 10px;
                object-position: center;
                object-fit: contain;
                width: 100%;
                height: 100%;
                
                
              }

             
            }
           
          }
          

          .finalcomfbrow{
            justify-content: space-between;


            .finalcomfbrowbtn{
              background:$primary-400;
              color: white;
              font-size: $h5-font-size;
              font-family: 'TaipeiSansTCBeta-Regular';
              margin: 0;
              padding: 12px 60px;
              flex-grow: 1;

              &:hover{
                background:$primary-600;
              }
              
             
            }

            .finalcomfbrowbtn1{
              margin-right:30px;
            }
          }
        }
        
          
      
      }
    }




  }