// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
@import '../default.scss';

.searchbar {
  .searchbar2 {
    box-shadow: 0 3px 6px rgba(25, 25, 25, 0.2);
    text-indent: 42px;
  }

  .searchicon {
    z-index: 5;
    left: 20px;
    color: red;
  }

  .sub {
    margin-left: 15px;
    padding: 5px 40px;
    background: #12d0c9;
    color: white;
    box-shadow: 0 6px 6px rgba(25, 25, 25, 0.2);

    &:hover {
      color: white;
      background: #4f7f9a;
    }
  }

  .ta {
    margin-right: 15px;
    margin-top: 18px;
    padding: 4px 20px;
    color: #104b6d;
    border: 1px solid #104b6d;
    font-size: 14px;
    font-family: 'TaipeiSansTCBeta-Regular';

    &:hover {
      background: $secondary-200;
      color: white;
      border: 1px solid $secondary-200;
    }
  }

  .hot {
    margin-top: 18px;
    padding: 5px 0px 5px 0;
    color: #104b6d;
    font-family: 'TaipeiSansTCBeta-Regular';
  }
}
