
// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
@import '../default.scss';

$url: "http://localhost:3000";



  
  .soya1 {
    height: 920px;
    padding-top: 275px;
    background: url($url + "/pic/soya/Group778.png");
    background-size: cover;
    box-sizing: border-box;


      
    .wrapper {
      max-width: 1440px;
      margin: 0 auto;
    }
    
    .cover-fit {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }



   
    .marginbox{
        margin-left: 32px; 
    }
    .page1titlebox {
      background: rgba(255, 255, 255, 0.77);
      width: 54%;
      height: 337px;
      margin-left: 76px;
    }
  
    .page1title {
      font-size: 60px;
      padding: 58px 0 0 0px;
      color: #707070;
      font-family: 'TaipeiSansTCBeta-Bold';
    }
    .fixbutton {
      width: 80px;
      height: 80px;
      font-size: 20px;
      background: #175FAB;
      color: white;
      cursor: pointer;
      border-radius: 40px;
      text-decoration: none;
      line-height: 80px;
      justify-content: center;
      right: 100px;
      bottom: 50px;
      z-index: 99;
      
    }
    .wave{
      margin-top: 25px;
      padding-left: 0;
      padding-right: 0;
    }
 

  }