@import '../default.scss';

.twobtn {
  .btn-style {
    margin: 0 8px;
  }
}
.mem_inf {
  .btn_modal {
    border-radius: 50px;
    margin: 0 8px;
  }
}

// .btn-style {
//   width: 34px;
//   height: 106px;
// }
