$primary: #104b6d;
$secondary: #12d0c9;
$danger: #df3d00;

$primary-050: #daf0fd;
$primary-100: #adcbdd;
$primary-200: #88adc2;
$primary-300: #4f7f9a;
$primary-400: #2d6281;
$primary-500: $primary;
$primary-600: #0c3d59;
$primary-700: #0a3148;
$primary-800: #08283b;
$primary-900: #041824;

$secondary-050: #c4fcfa;
$secondary-100: #5ee3de;
$secondary-200: $secondary;
$secondary-300: #10b9b2;
$secondary-400: #0ea29c;
$secondary-500: #0e9f9a;
$secondary-600: #0d9490;
$secondary-700: #0c8480;
$secondary-800: #0b7370;
$secondary-900: #09605d;

$blue: #175fab;
$pink: #e7b6df;
$orange: #f28d61;
$yellow: #fdd499;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 6;
$h2-font-size: $font-size-base * 3.75;
$h3-font-size: $font-size-base * 3;
$h4-font-size: $font-size-base * 2.125;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base * 1.25;

$navbar-light-color: $primary-500;
$navbar-light-hover-color: $primary-100;
$navbar-light-active-color: $secondary;

@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

@font-face {
  font-family: 'TaipeiSansTCBeta-Regular';
  src: url('./font/TaipeiSansTCBeta-Regular.ttf');
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: 'TaipeiSansTCBeta-Bold';
  src: url('./font/TaipeiSansTCBeta-Bold.ttf');
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: 'TaipeiSansTCBeta-Light';
  src: url('./font/TaipeiSansTCBeta-Light.ttf');
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: 'Roboto-light';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
  unicode-range: U+00-024F;
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
  unicode-range: U+00-024F;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
  unicode-range: U+00-024F;
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', 'TaipeiSansTCBeta-Regular', 'Noto Sans TC', sans-serif;
}
html {
  font-size: 16px;
  font-family: 'Roboto', 'TaipeiSansTCBeta-Regular', 'Noto Sans TC', sans-serif;
}

$rose: #f3b4ba;
$gray-default: #707070;
$gray-darkest: #212121;

body {
  margin: 0;
  padding: 0;
}
.bg-primary-900 {
  background: $primary-900;
}
.bg-primary-800 {
  background: $primary-800;
}
.bg-primary-700 {
  background: $primary-700;
}
.bg-primary-600 {
  background: $primary-600;
}
.bg-primary {
  background: $primary-500;
}
.bg-primary-400 {
  background: $primary-400;
}
.bg-primary-300 {
  background: $primary-300;
}
.bg-primary-200 {
  background: $primary-200;
}
.bg-primary-100 {
  background: $primary-100;
}
.bg-primary-050 {
  background: $primary-050;
}
.bg-secondary-900 {
  background: $secondary-900;
}
.bg-secondary-800 {
  background: $secondary-800;
}
.bg-secondary-700 {
  background: $secondary-700;
}
.bg-secondary-600 {
  background: $secondary-600;
}
.bg-secondary-500 {
  background: $secondary-500;
}
.bg-secondary-400 {
  background: $secondary-400;
}
.bg-secondary-300 {
  background: $secondary-300;
}
.bg-secondary {
  background: $secondary;
}
.bg-secondary-100 {
  background: $secondary-100;
}
.bg-secondary-050 {
  background: $secondary-050;
}
.bg-rose {
  background: $rose;
}
.bg-blue {
  background: $blue;
}
.bg-orange {
  background: $orange;
}
.bg-pink {
  background: $pink;
}
.bg-yellow {
  background: $yellow;
}
.font-bold {
  font-family: 'TaipeiSansTCBeta-Bold';
}
.font-light {
  font-family: 'TaipeiSansTCBeta-Bold';
}
.subtitle1 {
  font-family: 'Roboto', 'TaipeiSansTCBeta-Regular', 'Noto Sans TC', sans-serif;
  font-size: 1rem;
}
.subtitle2 {
  font-family: 'Roboto', 'TaipeiSansTCBeta-Regular', 'Noto Sans TC', sans-serif;
  font-size: 14px;
}
.body1 {
  font-family: 'Roboto', 'TaipeiSansTCBeta-Regular', 'Noto Sans TC', sans-serif;
  font-size: 1rem;
  letter-spacing: 31px;
}
.body2 {
  font-family: 'Roboto', 'TaipeiSansTCBeta-Regular', 'Noto Sans TC', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
.botton-font {
  font-family: 'Roboto', 'TaipeiSansTCBeta-Regular', 'Noto Sans TC', sans-serif;
  font-size: 14px;
}
.caption {
  font-family: 'Roboto', 'TaipeiSansTCBeta-Regular', 'Noto Sans TC', sans-serif;
  font-size: 12px;
}
.Overline {
  font-family: 'Roboto', 'TaipeiSansTCBeta-Regular', 'Noto Sans TC', sans-serif;
  font-size: 10px;
}
.my-container {
  max-width: (calc(100vw - 150px));
  margin: 0 auto;
  padding: 0px;
}
