@import 'default.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
main > .container {
  padding: 60px 15px 0;
  border: 1px solid red;
}

.navbar1 {
  height: 80px;

  .nav1 {
    display: flex;
    // align-items: center;
    font-size: 16px;
    font-family: TaipeiSansTCBeta;
    margin: 0 auto;
  }

  .nav1 > .navLink {
    margin: 0 30px;
    padding: 0;
    color: $primary;
  }

  .nav2 {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 18px;
    // background:pink
  }

  .Logo {
    height: 30px;
    margin-left: 75px;
  }

  .memberPhoto {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 75px;
    z-index: -1;
    top: 0;
  }

  .dropdown-toggle {
    width: 42px;
    height: 42px;
    opacity: 0;
  }

  .memberPhoto img {
    width: 100%;
  }

  .icon {
    font-size: 30px;
    margin: 0 10px 0 0;
  }
  .loginoutbtn {
    padding-right: 75px;
  }
  .logoutbtn {
    padding: 0px;
    margin: 0px;
  }
  .dropdown-menu {
    transform: translateX(-120px);
  }
}
