// 導入bootstrap所有的樣式與預設變數
// @import '~bootstrap/scss/bootstrap.scss';
@import '../default.scss';
// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

.class_result_card {
  width: 100%;
  height: 204px;
  padding: 14px 14px 14px 0;
  position: relative;
  .card-body {
    padding-top: 0;
  }
  .font16 {
    font-size: 16px;
  }
  .ccc {
    height: 50px;
    margin-top: 5px;
    margin-left: 215px;
    z-index: 2;
    position: absolute;
  }

  .card-title {
    margin: 0px;
    margin-top: 3px;
    font-weight: 700;
    font-size: 20px;
    padding: 8px 0;
    width: 450px;
  }

  .card-text {
    overflow: hidden;
    // white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .bbb {
    margin-bottom: 8px;
    align-items: center;
    width: 520px;
  }

  .photo {
    width: 271px;
    height: 183px;
    object-fit: fill;
    border-radius: 10px;
    z-index: 1;
    // border: 2px solid red;
  }

  .tag {
    height: 50px;
    z-index: 400;
    position: absolute;
    left: 210px;
    top: 10px;
  }

  .icon {
    height: 15px;
    width: 15px;
    margin: 1px 10px 10px 1px;
  }
  .icon2 {
    height: 15px;
    width: 15px;
    margin: 2px 10px 10px 1px;
  }
  .icon3 {
    height: 15px;
    width: 15px;
    margin: 3px 10px 10px 1px;
  }

  .aaa {
    margin-left: 8px;
  }
  .join {
    width: 118px;
    height: 30px;
    border-radius: 50px;
    font-size: 12px;
    background: #4f7f9a;
    color: white;
    box-shadow: 0 6px 6px rgba(25, 25, 25, 0.2);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 160px;
    right: 20px;
    &:hover {
      transform: translateY(2px);
      box-shadow: 0 3px 3px rgba(25, 25, 25, 0.3);
    }
    a {
      text-decoration: none;
      color: white;
    }
  }

  .btn_group {
    margin: 8px;
    .btn-style {
      margin: 8px;
    }
    .btn_edit {
      background-color: $secondary;
      border: $secondary;
    }
  }
}
