.class-search-wrapper {
  max-width: 1160px;
  margin: 0 auto;

  .font20 {
    font-size: 20px;
  }

  .top-part {
    margin-top: 10px;
  }
  .main-area {
    margin-top: 40px;
  }

  .right-side {
    margin-left: 70px;
  }

  .search-result {
    margin-top: 36px;
  }
  .class_result_card {
    margin-bottom: 40px;
  }

  .pagination_block {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}
