.class_search_sidebar {
  font-family: 'TaipeiSansTCBeta-Regular';
  width: 227px;
  .class_theme_topic {
    background: #104b6d;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  ul {
    list-style: none;
  }
  li {
    padding: 10px 30px;
    label {
      margin-left: 30px;
    }
    .checkbox {
      margin-right: 15px;
    }
  }
}
