// 導入bootstrap所有的樣式與預設變數
// @import '~bootstrap/scss/bootstrap.scss';
@import '../default.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
* {
  // border: 1px solid;
}
.buydetailsobb {
  background-color: white;
  max-width: 1160px;
  min-height: 400px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 2;

  .joininft {
    width: 94%;
    height: 48px;
    margin: auto;
    margin-top: 20px;
    color: #2d6281;
    background-color: #adcbdd;
    line-height: 48px;
    border-radius: 10px;
    .jcsb {
      justify-content: space-between;
      .ttext {
        margin-left: 30px;
        $font-size-base: 1rem;
        font-family: 'TaipeiSansTCBeta-Bold';
      }
      .timg {
        width: 40px;
        height: 50px;
        margin-right: 10px;
      }
    }
  }
  .joininfb {
    width: 94%;
    margin: auto;
    background-color: #daf0fd;
    border-radius: 0 0 10px 10px;
    margin-top: -21px;
    .inf {
      justify-content: space-between;
      width: 250px;
      margin-left: 35px;
      .infd {
        $font-size-base: 1rem;
        font-family: 'TaipeiSansTCBeta-Regular';
        margin-top: 14px;
      }
    }
  }
  .buydetailso {
    width: 100%;
    height: 140px;
    margin: auto;
    margin-top: 34px;
    .columnoh {
      border-collapse: separate;
      border-spacing: 0px 20px;

      .lineup {
        border-bottom: 1px solid gray;
        width: 1090px;
        position: absolute;
        margin-left: 35px;
      }
    }

    .hrline {
      width: 100;
    }

    td {
      text-align: center;
    }
    .centertrtd {
      margin: auto;

      .trc {
        color: #104b6d;
        opacity: 60%;
        border: 1px solid;
        font-family: 'TaipeiSansTCBeta-Bold';
        font-size: $font-size-base * 1.25;
      }

      th {
        width: 1%;
        text-align: center;
      }

      .imgw {
        width: 10%;
      }
    }

    .iconcolor {
      color: #707070;
      width: 28px;
    }
    .iconcolor2 {
      color: #df3d00;
      width: 28px;
      height: 28px;
    }
    .tdcolumn {
      justify-self: start;
      align-items: center;
      .titlephoto {
        width: 130px;
        height: 79px;
        border-radius: 10px;
        margin-left: 35px;
      }
      .tdtext {
        font-family: 'TaipeiSansTCBeta-Regular';
        font-size: $font-size-base * 1.25;
        margin-left: 36px;
      }
    }
  }
}
