// 導入bootstrap所有的樣式與預設變數
// @import '~bootstrap/scss/bootstrap.scss';
@import '../default.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
.wavebox {
  width: 100%;
  height: 320px;
  .confirmw {
    width: 100%;
    .confirmsv1 {
      width: 100%;
      height: 924px;
      object-fit: fill;
      z-index: -11;
      position: relative;
      margin-bottom: -655px;
      margin-top: -450px;
    }
    .man {
      justify-content: space-between;
      .confirmsv2 {
        width: 217px;
        height: 307px;
        object-fit: fill;
        z-index: -10;
        position: relative;
        margin-top: -9px;
        margin-left: 100px;
      }
      .confirmsv3 {
        width: 155px;
        height: 292px;
        margin-right: 50px;
        margin-top: 10px;
        object-fit: fill;
        z-index: -10;
        position: relative;
      }
    }
  }
}
