// 導入bootstrap所有的樣式與預設變數
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

.confirmpuzzlel {
  .confirmpuzzle1 {
    width: 147px;
    margin-top: 127px;
    margin-left: 20px;
    transform: rotate(25deg);
    float: left;
    z-index: 1;
    position: absolute;
  }
}
