// 導入bootstrap所有的樣式與預設變數
// @import '~bootstrap/scss/bootstrap.scss';
@import '../default.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
.nextactivityordercolumnobb {
  .activityordercolumno {
    width: 1160px;
    height: 583px;
    margin: auto;
    margin-top: 34px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: white;
    position: relative;
    z-index: 2;
    .columnoh {
      border-collapse: separate;
      border-spacing: 0px 22px;
      margin: auto;
      margin-top: 50px;

      .lineup {
        border-bottom: 1px solid gray;
        width: 1090px;
        position: absolute;
        margin-left: 1px;
      }
    }

    // .hrline {
    //   width: 100%;
    //   border: 1px solid;
    // }

    td {
      text-align: center;
    }
    .centertrtd {
      padding: 20px 0;
      border: 1px solid;
      .trco {
        color: #2d6281;
        font-size: 20px;
        opacity: 60%;
      }

      th {
        width: 6%;
        text-align: center;
      }
      .checkboxaaa {
        width: 5%;
      }
      .imgw {
        width: 35%;
      }
    }

    .iconcolor {
      color: #707070;
      width: 28px;
      height: 28px;
    }
    .iconcolor2 {
      color: #df3d00;
      width: 28px;
      height: 28px;
    }
    .tdcolumn {
      justify-self: start;
      align-items: center;
      .titlephoto {
        width: 130px;
        height: 79px;
        border-radius: 10px;
      }
    }
  }
}
