// 導入bootstrap所有的樣式與預設變數
@import '~bootstrap/scss/bootstrap.scss';



// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
@import '../default.scss';

$url: "http://localhost:3000";



  
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .cover-fit {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

 
  
  .soya4 {
    height:1880px;
    background:url($url + '/pic/soya/page4bg1.png') center center;
    background-size: cover;
    margin-top: -180px;
    // border: 1px solid transparent;
    box-sizing: border-box;

    .whitewave{
      width: 100%;
      margin:0 auto;
    }
    .whitewavedown{
      width: 100%;
      margin:0 auto;
  

      
    }

    .startjoinbox{
      margin:200px auto 40px auto;
      padding: 0 140px 0 140px;
      // border: 1px solid;


      .startjointitlebox{
        justify-content: center;
        margin-bottom: 140px;
        color:white;


        .startjointitle{
          font-size: $h2-font-size;
          align-items: center;
          margin-right: 50px;
          font-family: 'TaipeiSansTCBeta-Bold';
        }


        .gobutton{
          width: 145px;
          height: 145px;
          background: $primary-300;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: $h3-font-size;
          font-family: "roboto";
          font-weight: bold;
  
          &:link{
            text-decoration: none;
          }
          
        }
      }
      
      .recenthot{
        font-size: $h4-font-size;
        font-family: 'TaipeiSansTCBeta-Bold';
        color: white;
      }

      .recenthotline{
        width: 150px;
        border-top: 5px solid white;
        margin-left: 1px;
        margin-bottom: 30px;
      }



      .contentbox{
        height: 650px;
        // border: 1px solid;
        margin-bottom: 30px;
  
  
        .contentboxbox{
          justify-content: space-between;
  
          img{
            border-radius: 10px;
          }

          .contentname{
            font-size: $font-size-base;
            font-family: 'TaipeiSansTCBeta-Bold';
            position: absolute;
            right:25px;
            bottom:20px;
            color:white;
          }
          .contentname1{
            position: absolute;
            right:25px;
            bottom:20px;
            color:white;
            


            .contentname1title{
              font-size: $font-size-base;
              font-family: 'TaipeiSansTCBeta-Bold';
              margin-bottom: 15px;
            }

            .contentname1tag{
              padding: 5px 14px;
              margin-right: 7px;
              font-size: 10px;
              border: 1px solid white;
              background: transparent;
              color: white;
              margin-bottom: 10px;
            }

            .contentname1det{
              font-size: 12px;
              align-items: start;

              .MdPhotoCameradet{
                margin-right: 5px;
                margin-bottom: 5px;
              }
              
            }
          }
  
          // .contentbox_left{
          //   margin-right: 20px;
          // }
          
          
          .contentno1{
            width: 590px;
            height: 380px;
            margin-bottom: 20px;
            position: relative;
            background: black;
            border-radius: 10px;

            &:hover .contentno1img{
              opacity: 0.7;
              transition: 0.4s;
            }
           

          }
  
        
          .contentno2{
            width: 285px;
            height: 250px;
            position: relative;

            &:hover .contentno2img{
              opacity: 0.7;
              transition: 0.4s;
            }
          }
          .contentno3{
            width: 285px;
            height: 250px;
            position: relative;
            margin-left: 20px;

            &:hover .contentno3img{
              opacity: 0.7;
              transition: 0.4s;
            }
          }
  
  
          .contentno4{
            width: 550px;
            height: 200px;
            margin-bottom: 20px;
            position: relative;

            &:hover .contentno4img{
              opacity: 0.7;
              transition: 0.4s;
            }
          }
  
          .cont5_6{
            justify-content: space-between;
  
            .contentno5{
              width: 265px;
              height: 160px;
              position: relative;

              &:hover .contentno5img{
                opacity: 0.7;
                transition: 0.4s;
              }
              
              
            }
            .contentno6{
              width: 265px;
              height: 160px; 
              position: relative;

              &:hover .contentno6img{
                opacity: 0.7;
                transition: 0.4s;
              }
            }
          }
  
          .contentno7{
            margin-top: 20px;
            width: 550px;
            height: 250px; 
            position: relative;

            &:hover .contentno7img{
              opacity: 0.7;
              transition: 0.4s;
            }
          }
  
          
  
        }
      }
  

      .morejoin{
        font-size: $h6-font-size;
        color:rgba($color: #ffffff, $alpha: 0.7);
      }
      .morejoinline{
        width: 80px;
        border-top: 3px solid rgba($color: #ffffff, $alpha: 0.7);
      }


     
    }

    
    
  
  

  }