// 導入bootstrap所有的樣式與預設變數
@import '~bootstrap/scss/bootstrap.scss';
// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
@import '../default.scss';

$url: "http://localhost:3000";


  
  .container-fluid{
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .cover-fit {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .soya3{
      
    //   border: 1px solid;
      margin-top: 120px;
      box-sizing: border-box;

      .stepbox{
        width: 100%;

        .left_step{
            // border: 1px solid;
            .ststep1{
                margin-bottom: 250px;
                // border: 1px solid;
                position: relative;
                box-shadow: 20px 20px rgb(194,210,236);
                border-radius: 10px;
                width: 90%;

                .step1box{
                    width: 570px;
                    height: 366px;
                    .step1pic{
                        border-radius: 10px;
                    }
                }
                .step1smguy{
                    position: absolute;
                    top:56px;
                    right:20px;
                }
                .step1cloud{
                    position: absolute;
                    top: -25px;
                    left: 30px;
                }
                
            }

            .ststep3{
                position: relative;
                box-shadow: 20px 20px rgb(136,173,194);
                border-radius: 10px;

                .step3box{
                    width: 630px;
                    height: 366px;
                    .step3pic{
                        border-radius: 10px;
                    }
                }
                .step3smguy{
                    position: absolute;
                    top: -30px;
                    right: 15px;
                    z-index: 5;
                }
            }
            
        }
  
        .right_step{
            // border: 1px solid;

            .ststep2{
                margin-top: 235px;
                margin-bottom: 250px;
                // border: 1px solid;
                position: relative;
                box-shadow: 20px 20px rgb(173, 203, 221);
                border-radius: 10px;
                

                .step2box{
                    width: 650px;
                    height: 366px;
                    .step2pic{
                        border-radius: 10px;
                    }
                }
                .step2smguy{
                    position: absolute;
                    top: -160px;
                    left: -60px;
                }

                .step1_3{
                    position: absolute;
                    top: -50px;
                    left: -250px;
                    z-index: -1;
                }
            }


            .ststep4{
                
                // border: 1px solid;
                position: relative;
                box-shadow: 20px 20px rgb(194,210,236);
                border-radius: 10px;
                width: 90%;
                margin-left: 60px;
               

                .step4box{
                    width: 590px;
                    height: 366px;
                    background:black;
                    border-radius: 10px;
                    .step4pic{
                        border-radius: 10px;
                        
                        opacity: 0.8;
                    }
                }
                .step4smguy{
                    position: absolute;
                    top: -30px;
                    left: 30px;
                }
                .step4leaf{
                    position: absolute;
                    top: -120px;
                    right: 0px;
                    z-index: -1;
                }
                .step3_5{
                    position: absolute;
                    top: 0px;
                    left: -300px;
                    z-index: -1;
                }
                .step4_5{
                    position: absolute;
                    top: 320px;
                    left: -140px;
                    z-index: 1;
                }
            }
        }
      }

     
  }

