// 導入bootstrap所有的樣式與預設變數
@import 'default.scss';
// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

* {
  font-size: 16px;
  font-family: 'Taipei Sans TC Beta';
  padding: 0;
  margin: 0;
  // border: 1px solid;
}

.ccard {
  width: 271px;
  height: 350px;
  border: 1px solid transparent;

  .cardtitle {
    font-size: $font-size-base;
    font-family: 'TaipeiSansTCBeta-Bold';
  }

  .photo {
    width: 271px;
    height: 183px;
    object-fit: fill;
    z-index: 1;
    position: relative;

    /* margin-left: 7px; */
    margin-top: -38px;
    border-radius: 10px;
  }
  .ccc {
    height: 50px;
    margin-top: 10px;
    margin-left: 215px;
    z-index: 2;
  }
  .eee {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-top: -20px;
    position: absolute;
    top: 180px;
    right: 187px;
    z-index: 3;
  }
  .fff {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-top: -20px;
    position: absolute;
    top: 180px;
    right: 207px;
    z-index: 4;
  }
  .hhh {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-top: -20px;
    position: absolute;
    top: 180px;
    right: 227px;
    z-index: 5;
  }

  .b2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -50px;
  }

  .card-body {
    padding: 18px 0 0 12px;
  }

  .cardtitle {
    margin-bottom: 8px;
  }
  .ddd {
    margin-top: 1px;
  }

  .card-text {
    font-size: 12px;
    margin-bottom: 5px;
    align-self: center;

    /* border:1px solid gray; */
  }

  .ggg {
    width: 50px;
    height: 24px;
    font-size: 12px;
    border: 1px solid #4b4b4b;
    justify-content: center;
    align-items: center;
    margin-left: -13px;
  }

  .aaa {
    margin-left: 8px;
  }

  .join {
    width: 90px;
    height: 24px;
    border-radius: 50px;
    font-size: 12px;
    background: #4f7f9a;
    color: white;
    box-shadow: 0 6px 6px rgba(25, 25, 25, 0.2);
    justify-content: center;
    align-items: center;
    margin-left: 71px;

    &:hover {
      color: white;
    }
  }

  .icon {
    height: 12px;
    width: 12px;
    margin: 1px 10px 10px 1px;
  }
  .icon2 {
    height: 12px;
    width: 12px;
    margin: 2px 10px 10px 1px;
  }
  .icon3 {
    height: 12px;
    width: 12px;
    margin: 3px 10px 10px 1px;
  }

  // .bbb {
  //   margin-bottom: 7px;
  // }
}
