@import './default.scss';

.result-word {
  // background: rgb(128, 128, 128);
  h6 {
    margin: 0px;
    padding: 0px;
    line-height: 38px;
  }
}

//EventResult
.event-container {
  max-width: 1160px;
  margin: 0 auto;
}

.result-header {
  margin-top: 72px;
  .c-icon {
    margin-left: 16px;
  }
}
.divider {
  width: 100%;
  height: 2px;
  margin: 14px 0px;
  background: rgba(112, 112, 112, 0.3);
}
.no-result {
  height: 40vh;
  // background: cadetblue;
  h5 {
    padding: 48px;
    text-align: center;
    color: $primary;
  }
}
.have-result {
  // background: royalblue;
  width: 100%;
  margin: 0px !important;
  padding: 0px;
  .col-3 {
    margin-bottom: 36px;
  }
}
