@import './default.scss';
@import '~bootstrap/scss/_Carousel.scss';
@import './searchbar.scss';
.carousel-item {
  height: calc(100vh - 80px);
  > .carousel-img {
    object-fit: cover;
    object-position: center;
  }
}

.carousel-caption {
  //   right: (100% - $carousel-caption-width) / 2;
  top: 70px;
  right: 91px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $carousel-caption-color;
  text-align: right;
  h5 {
    line-height: 24px;
    text-shadow: 1px 1px 0.2em rgb(128, 128, 128);
  }
  p {
    margin-bottom: 8px;
    text-shadow: 1px 1px 0.2em rgb(128, 128, 128);
  }
}
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
  display: none;
}
body {
  position: relative;
  .wave1 {
    position: absolute;
    // z-index: 30;
    top: 613px; //之後用js動態取得視窗高度以計算位置
    // background: blue;
    img {
      width: 100vw;
      object-fit: contain;
    }
  }
  .event-search-bar {
    position: absolute;
    z-index: 50;
    top: 372px;
    left: 75px;
    // background: blue;
    h4 {
      padding-left: 15px;
      color: #fff;
      font-family: 'TaipeiSansTCBeta-Bold';
      margin-bottom: 20px;
      text-shadow: 1px 1px 0.2em rgb(128, 128, 128);
    }
    .ta {
      color: #fff;
      border: 1px solid #fff;
    }
    .hot {
      color: #fff;
    }
    .searchbar {
      margin-left: 0px;
    }
    .ta:hover {
      color: $secondary;
      border: 1px solid $secondary;
    }
  }
  .scroll {
    position: absolute;
    font-family: 'TaipeiSansTCBeta-Bold';
    z-index: 55;
    right: 91px;
    top: 825px;
    color: $primary;
    // background: blue;
    text-align: right;
    .c-icon {
      margin-left: 12px;
    }
  }
}

.result-word {
  background: rgb(128, 128, 128);
  h6 {
    margin: 0px;
    padding: 0px;
    line-height: 38px;
  }
}
