// 預設變數覆蓋需要在導入Bootstrap之前

// Import Bootstrap and its default variables
@import 'default.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
// main > .container {
//   padding: 60px 15px 0;
// }

.footer {
  width: 100%;
  //   height: 100%;
  padding: 43px 0 0 0;
  // background-color: #104b6d;
  margin: 0 201px 0 0;
}

.icon {
  margin: 10px;
}
.footer {
  ul {
    li {
      a {
        color: rgb(255, 255, 255);
        text-align: left;
      }
    }
  }
}

.footer {
  ul {
    li {
      li {
        a {
          color: rgb(255, 255, 255);

          text-align: left;
        }
      }
    }
  }
}

.footer {
  p {
    padding: 10px;
    color: rgb(255, 255, 255);
  }
}
