@import 'default.scss';
$url: 'http://localhost:3000';

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.organizer {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 75px;
  border: 1px solid gray;
}

.organizer img {
  width: 100%;
}

.page-head {
  // border:1px solid green;
  padding-top: 42px;
}
.page-head-part2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  width: 111px;
  height: 38px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: $primary-600;
}

.organizer_info {
  display: flex;
}

.organizer_info > span {
  margin-left: -60px;
}

.btn_part {
  // border:1px solid red;
  display: flex;
  align-items: flex-end;
}

// 波浪背景1
.wave_background {
  background: url($url + '/Pic/SVG/wave2.svg');
  width: 100%;
  height: 579px;
  top: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

// 麵包屑
.bread_crumb {
  margin-top: 43px;
}

// 商品圖片
.class_pic {
  width: 730px;
  height: 305px;
  overflow: hidden;
  margin: 0 87px 44px 0px;
  border-radius: 10px;
}

.class_pic img {
  object-fit: contain;
}

.page-head-part3 {
  display: flex;
  margin-top: 20px;
}

.content_big_part {
  border: 1px solid black;
  width: 730px;
  margin-right: 80px;
}

h5 {
  color: $primary;
}

.line {
  border: 2px solid $primary;
  width: 96px;
}

.features {
  margin: 50px 0px 54px 20px;
}
p {
  margin: 50px 0px 54px 0px;
  line-height: 28px;
}

.teacher {
  width: 730px;
  height: 138px;
  margin-top: 50px;
  display: flex;
}

.teacher_pic {
  height: 138px;
  width: 138px;
  border-radius: 50%;
  overflow: hidden;
}

.teacher_pic img {
  width: 100%;
}
.teacher_info_block {
  width: 550px;
  margin-left: 42px;
}

.teacher_intro {
  margin: 0;
}

.wave_background2 {
  background: url($url + '/Pic/SVG/wave3.svg');
  width: 100%;
  height: 1060px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid red;
}

h4 {
  text-align: center;
}

.line2 {
  border: 2px solid $primary;
  width: 155px;
  margin: 0 auto;
}
