@import 'default.scss';

.hrline {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.6);
}
.coupon {
  width: 200px;
  height: 95px;
  background-color: $primary-100;
  border-radius: 10px;
}

.btn_style {
  height: 34px;
  padding: 8px 16px;
  border-radius: 25px;
  background-color: #104b6d;
  color: #ffffff;
  font-family: 'TaipeiSansTCBeta-Regular';
  border: 0;
}
