@import 'default.scss';
.addphoto2 {
  svg {
    width: 40px;
    height: 40px;
    color: $primary;
    background-color: #ffffff;
    border-radius: 5px;
  }
}

.photo_album3 {
  .img_box3 {
    img {
      width: 230px;
      height: 140px;
      padding: 15px;
    }
  }
}
