@import 'default.scss';

.card {
  width: 278px;
  height: 268px;
  padding: 30px 0 30px 0;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

// .Cameraicon {
//   svg {
//     color: #ce6926;
//     border: solid 3px paleturquoise;
//     width: 100px;
//     height: 100px;
//   }
// }

.star {
  svg {
    color: $yellow;
    width: 24.2px;
    height: 23.2px;
  }
}
