@import 'default.scss';

.photo_album {
  width: 200px;
  height: 126px;
  h6 {
    text-align: center;
  }
  .img_box {
    width: 200px;
    height: 140px;
    background-color: paleturquoise;
    border: solid 1px $primary-050;
    padding: 8px;

    img {
      width: 80px;
      height: 50px;
      padding: 5px;
    }
  }
}
