@import 'default.scss';

body {
  min-height: 100%;
  .mem_nameandtitle {
    padding: 16px;
  }
  .photo_album_all {
    width: 900px;

    .photo_album2 {
      width: 220px;
      margin: 32px 24px 50px 24px;

      h6 {
        text-align: center;
      }
      .img_box2 {
        align-items: center;
        border-radius: 5px;
        border: solid 1px $primary-050;
        padding: 8px;
        background-color: #ffffff;
        margin: 0 auto;
        img {
          width: 100px;
          height: 70px;
          padding: 5px;
        }
      }
    }
  }
}

.footer {
  bottom: 0;
}
.btn-mem_view {
  width: 124.7px;
  height: 34px;
  padding: 10px 20px 10px 20px;
  background-color: $secondary;
  border: 0;
  border-radius: 50px;
}
