// 導入bootstrap所有的樣式與預設變數
@import '~bootstrap/scss/bootstrap.scss';
// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

// * {
//   font-size: 12px;
//     font-family: 'Taipei Sans TC Beta';
//     padding: 0;
//     margin: 0;
//   }

.ccard {
  width: 1169px;
  height: 204px;

  .ccard.card-body {
    padding: 0 0 0 12px;
  }
  .ccc {
    height: 50px;
    margin-top: 5px;
    margin-left: 215px;
    z-index: 2;
    position: absolute;
  }
  .eee {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-top: -20px;
    position: absolute;
    top: 180px;
    left: 50px;
    z-index: 3;
  }
  .fff {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-top: -20px;
    position: absolute;
    top: 180px;
    left: 30px;
    z-index: 4;
  }
  .hhh {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-top: -20px;
    position: absolute;
    top: 180px;
    left: 10px;
    z-index: 5;
  }

  .card-title {
    margin: 0px;
    margin-top: 3px;
    font-size: $font-size-base;
    font-family: 'TaipeiSansTCBeta-Bold';
    font-size: 20px;
  }

  .t2 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .bbb {
    margin-bottom: 8px;
  }

  .photo {
    width: 271px;
    height: 183px;
    object-fit: fill;
    position: relative;

    /* margin-left: 7px; */
    margin-top: 18px;
    border-radius: 10px;
    z-index: 1;
  }

  .icon {
    height: 12px;
    width: 12px;
    margin: 1px 10px 10px 1px;
  }
  .icon2 {
    height: 12px;
    width: 12px;
    margin: 2px 10px 10px 1px;
  }
  .icon3 {
    height: 12px;
    width: 12px;
    margin: 3px 10px 10px 1px;
  }

  .ggg {
    width: 52px;
    height: 24px;
    font-size: 12px;
    border: 1px solid #4b4b4b;
    justify-content: center;
    align-items: center;
  }

  .aaa {
    margin-left: 8px;
  }

  .join {
    width: 90px;
    height: 24px;
    border-radius: 50px;
    font-size: 12px;
    background: #4f7f9a;
    color: white;
    box-shadow: 0 6px 6px rgba(25, 25, 25, 0.2);
    justify-content: center;
    align-items: center;
    margin-left: 671px;

    &:hover {
      color: white;
    }
<<<<<<< HEAD:src/style/card2.scss
  }
}
=======
<<<<<<< HEAD
  }
=======
  }
>>>>>>> cc9193ed1f82a375cef62e9c8e0ff88ccab5b477
>>>>>>> f0501dc7203921ee484dd497a7c8373489251d97:src/style/event/card2.scss
