@import '../default.scss';
$url: 'http://localhost:3000';
.forum {
  width: 1000px;
  //   border: 1px red solid;

  .talk-card {
    // border: 1px blue solid;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 20px;
    .talk {
      padding: 15px 24px;
      color: $gray-darkest;
      border-radius: 10px;
      width: 100%;
      background: #ffffff;
      // box-shadow: 0 3px 3px rgba(25, 25, 25, 0.3);
      .host {
        color: $secondary;
      }
      .attendants {
        color: $gray-default;
      }
      .message-name {
        font-family: 'TaipeiSansTCBeta-Bold';
        margin-right: 8px;
      }
    }
    .talk-attendant-avatar {
      width: 68px;
      height: 68px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0px 18px 0px 0px;
      img {
        width: 100%;
        height: 100%;
        object-position: center center;
        object-fit: cover;
      }
    }
  }
  .message-type-area {
    margin: 62px auto;
    background: #ffffff;
    border-radius: 10px;
    // height: 160px;
    width: 100%;
    .my-message {
      padding: 12px 24px;
      border-radius: 10px 10px 0px 0px;
      resize: none;
      color: $gray-default;
      font-size: 14px;
      letter-spacing: 1.5px;

      border: none;
      outline: none;
      width: 100%;
      word-wrap: break-word;
    }
    .forum-form {
      border-radius: 0px 0px 10px 10px;
      border-top: 1px solid $gray-default;
      background: #f5f5f5;
      .bttn {
        padding: 5px 20px;
        color: white;
        font-size: 16px;
        text-align: center;
        margin: 9px 18px;
      }
    }
  }
}
