// 導入bootstrap所有的樣式與預設變數
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

.lineconfirmframetop{
    margin-top: 96px;

    .lineconfirmframe1{
        width: 741px;
        height: 76px;
        background-color:#ADCBDD;
        top: 96px;
        margin:0px auto;
        border-radius: 10px 10px 0 0;
        text-align:center;
        color: #2D6281;
        line-height:76px;
        font-size: 20px;
        font-family: 'TaipeiSansTCBeta-Bold';
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    }
    .lineconfirmframe2{
        width: 741px;
        height: 480px;
        background-color:white;
        margin: 0px auto;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        
    }

}
