// 導入bootstrap所有的樣式與預設變數
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

* {
  font-size: 16px;
  font-family: 'Taipei Sans TC Beta';
  padding: 0;
  margin: 0;
  // border: 1px solid;
}

.ccard {
  width: 271px;
  height: 320x;
  border-radius: 10px !important;
  &:hover {
    transform: translateY(2px);
    box-shadow: 0 3px 3px rgba(25, 25, 25, 0.3);
  }

  .cardtitle {
    font-size: $font-size-base;
    font-family: 'TaipeiSansTCBeta-Bold';
  }

  .photo {
    width: 271px;
    height: 183px;
    object-fit: fill;
    z-index: 1;
    // position: relative;
    margin-top: -50px;
    border-radius: 10px;
  }
  .tag {
    height: 50px;
    z-index: 2;
    position: absolute;
    top: -60px;
    left: 227px;
    // margin-top: -10px;
  }
  .fff {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-top: -20px;
    position: absolute;
    top: 180px;
    right: 207px;
    z-index: 4;
  }
  .hhh {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-top: -20px;
    position: absolute;
    top: 180px;
    right: 227px;
    z-index: 5;
  }

  .b2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -50px;
  }

  .card-body {
    padding: 18px 0 0 12px;
    // border: 1px solid red;
  }

  .cardtitle {
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 12px;
    margin-bottom: 5px;
    align-self: center;

    /* border:1px solid gray; */
  }

  .ggg {
    width: 50px;
    height: 24px;
    font-size: 12px;
    border: 1px solid #4b4b4b;
    justify-content: center;
    align-items: center;
    margin-left: -13px;
  }

  .aaa {
    margin-left: 8px;
  }

  .join {
    width: 90px;
    height: 24px;
    border-radius: 50px;
    font-size: 12px;
    background: #4f7f9a;
    color: white;
    box-shadow: 0 6px 6px rgba(25, 25, 25, 0.2);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 160px;
    margin-bottom: 10px;

    &:hover {
      transform: translateY(2px);
      box-shadow: 0 3px 3px rgba(25, 25, 25, 0.3);
    }
  }

  .icon {
    height: 15px;
    width: 15px;
    margin: 3px 10px 10px 1px;
    color: black;
  }

  .info {
    margin-left: 0;
    margin-top: 10px;
  }
}
