.card_body {
  padding: 45px 0 42px 37px;
}

.card1 {
  width: 345px;
  height: 417px;
  border-radius: 10px;
}

.paragraph {
  margin-bottom: 44px;
  display: flex;
  align-items: flex-start;
}

.info {
  margin-left: 15px;
}
