.class-info-card {
  width: 345px;
  height: 400px;
  border-radius: 10px !important;
  padding: 0px;
  .card_body {
    padding: 42px 0 35px 35px;
  }

  .paragraph {
    margin-bottom: 44px;
    display: flex;
    align-items: flex-start;
  }

  .info {
    margin-left: 15px;
  }
}
