@import '../default.scss';
$url: 'http://localhost:3000';

body {
  font-family: 'Roboto', 'TaipeiSansTCBeta-Regular', 'Noto Sans TC' sans-serif !important;
}

// 波浪背景1
.class_wave_background {
  background: url($url + '/Pic/SVG/wave2.svg');
  width: 100%;
  height: 579px;
  top: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  .mainclass_wrapper {
    max-width: 1160px;
    margin: 0 auto;
  }

  // 發起者頭像
  .organizer {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 75px;
    border: 1px solid gray;
    img {
      width: 100%;
    }
  }

  // 課程簡易資訊欄大區(含按鈕)
  .page-head {
    padding-top: 42px;

    .page-head-part2 {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      // 按鈕區
      .btn_part {
        // border:1px solid red;
        display: flex;
        align-items: flex-end;
        .bttn {
          width: 91px;
          height: 36px;
          border-radius: 50px;
          background-color: #f28d61;
          border: 1px solid transparent;
          color: white;
        }
        .share {
          background-color: #12d0c9;
          margin-left: 17px;
        }
      }
    }
    // 麵包屑
    .bread_crumb {
      margin-top: 43px;
    }
  }

  .organizer_info {
    display: flex;
  }

  .organizer_info > span {
    margin-left: -60px;
  }

  // 商品圖片
  .class_pic {
    width: 730px;
    height: 305px;
    overflow: hidden;
    border-radius: 10px;
    img {
      object-fit: contain;
    }
  }

  .page-head-part3 {
    display: flex;
    margin-top: 20px;
    .content_big_part {
      width: 730px;
    }
  }

  .features {
    padding-left: 30px;
  }
  .left_part {
    // border: 1px solid red;
    margin-left: 83px;
    width: 347px;
    .gmap {
      width: 343px;
      height: 386px;
      margin-top: 35px;
      border-radius: 10px;
    }
  }
  .class_title {
    color: $primary;
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 24px;
    font-family: 'TaipeiSansTCBeta-Bold';
  }

  .line {
    border: 2px solid $primary;
    width: 96px;
    margin-bottom: 48px;
  }

  p {
    margin: 50px 0px 54px 0px;
    line-height: 28px;
  }
  // 授課老師資訊欄
  .teacher {
    width: 730px;
    height: 138px;
    display: flex;
    .teacher_pic {
      height: 138px;
      width: 138px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .teacher_info_block {
      width: 550px;
      margin-left: 42px;
      .class_teacher {
        font-family: 'TaipeiSansTCBeta-Bold';
      }
      .teacher_intro {
        margin: 0;
      }
    }
  }

  .wave_background2 {
    background: url($url + '/Pic/SVG/wave3.svg');
    width: 100%;
    height: 1060px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid transparent;
  }

  h4 {
    text-align: center;
    color: white;
    font-family: 'TaipeiSansTCBeta-Bold';
  }

  .line2 {
    border: 2px solid white;
    width: 155px;
    margin: 0 auto;
  }

  .gallery_part {
    margin-top: 270px;
    // border: 1px solid red;
  }

  .cards {
    margin-top: 90px;
    display: flex;
  }

  .member_photo_showcase {
    max-width: 1160px;
    margin: 0 auto;
  }

  .class_suggest {
    color: $primary;
    font-size: 24px;
    font-family: 'TaipeiSansTCBeta-Bold';
  }
}
